.decode-message-form {
  display: flex;
  flex-direction: column;
}

.decode-form-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;

  .form-title {
    margin-bottom: 0;
  }
}